<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="362154966855-rd2udkip3pagmm0v6a1ime2b5i6vpa78.apps.googleusercontent.com">
    <title>FLiprX</title>
     style
      include ../static/style.css
      include ../static/assigned.css
</head>
<body onload="reset()">
h4 #{User_status}
    h4 #{tempmail}
    h4 #{Occup_Status}
    <h2>Assigned Page</h2>
    <form action="/teacher" method="GET">
<button>Home</button>
</form>
    br
    hr
   
<div class="assignments" id="assignments">
            
</div>
//- </form>

</body>
script(src="../static/assigned.js")
</html>